<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>flicks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BF101FA1D11EF9A007C79CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF1020E1D11EF9A007C79CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF102191D11EF9A007C79CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
